node_modules/*




.idea/
/node_modules
/dist
/dev

.DS_Store

# local env files
.env.local
.env.*.local



# Editor directories and files
.idea

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

rm_file/

*.iml
.pnpm-debug.log





*.exe
*.zip

release
vite.config.ts.timestamp*

